<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/>" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <configurator type="Kajoo.Foundation.Common.DependencyInjection.ServicesConfigurator, Kajoo.Foundation.Common"/>
    </services>
  </sitecore>
</configuration>