<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/>" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <configurator type="Kajoo.Feature.Deployment.DependencyInjection.ServicesConfigurator, Kajoo.Feature.Deployment"/>
    </services>
    <pipelines>
      <group groupName="javaScriptServices">
        <pipelines>
          <import>
            <processor patch:after="processor[@type='Sitecore.JavaScriptServices.AppServices.Pipelines.Import.CreateLayout, Sitecore.JavaScriptServices.AppServices']"
                       type="Kajoo.Feature.Deployment.Pipelines.Import.AssignPlaceholderSettingToLayout, Kajoo.Feature.Deployment"
                       resolve="true"/>

            <processor patch:after="*[@type='Sitecore.JavaScriptServices.AppServices.Pipelines.Import.ProcessTemplates, Sitecore.JavaScriptServices.AppServices']"
                       type="Kajoo.Feature.Deployment.Pipelines.Import.KajooImportPipelineProcessor, Kajoo.Feature.Deployment"
                       resolve="true"/>

            <processor patch:after="*[@type='Sitecore.JavaScriptServices.AppServices.Pipelines.Import.ProcessRenderings, Sitecore.JavaScriptServices.AppServices']"
                       type="Kajoo.Feature.Deployment.Pipelines.Import.ConfigureRenderingContentResolver, Kajoo.Feature.Deployment" />
          </import>
        </pipelines>
      </group>
    </pipelines>
    <settings>
      <setting name="Kajoo.DefaultPlaceholderName" value="kajoo-main" />
      <setting name="Kajoo.CreateContentPageItems" value="false" />
      <setting name="Kajoo.PageTemplateEdit" value="false" />
    </settings>
  </sitecore>
</configuration>